.categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* display: none; */
}
.categories_item ~ .categories_item {
  margin-top: 8px;
}
.categories_item {
  padding: 25px 45px;
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories_left {
  width: 442px;
  h3 {
    font-weight: 500;
    font-size: 30px;
    color: var(--text-white);
  }
  p {
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--text-dark-grey);
  }
}
.categories_right {
  width: 243px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  span:nth-child(1) {
    font-weight: 500;
    font-size: 35px;
    color: var(--text-white);
  }
  span:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: var(--text-dark-grey);
  }
}

/* @media() */
@media (max-width: 1024px) {
  .categories_left {
    h3 {
      font-size: 24px;
    }
  }
  .categories_right {
    font-size: 39px;
  }
}

@media (max-width: 900px) {
  .categories_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .categories_item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-content: space-between;
  }
  .categories_left {
    width: auto;
  }
  .categories_right {
    width: auto;
  }
  .categories_right {
    span:nth-child(1) {
      font-size: 30px;
    }
  }
}
@media (max-width: 768px) {
  .categories_items {
    grid-template-columns: 1fr;
  }
}
