.services {
}
.services_items {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.services_item {
  padding: 20px 40px;
  border: 1px solid #1f1f1f;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  span {
    font-weight: 700;
    font-size: 40px;
    color: var(--text-grey);
  }
  h3 {
    margin-top: 100px;
    margin-bottom: 14px;
  }
  p {
    color: var(--text-dark-grey);
  }
}
