/* Tabs */
.tabs {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  /* display: none; */
}

.tab {
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--text-dark-grey);
}

.tab:hover {
  color: var(--text-grey);
}

.tab.active {
  color: var(--text-white);
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.tab_block {
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}
.tab_block.show {
  transform: translateY(0);
  opacity: 1;
}
.tab_block.hide {
  opacity: 0;
  transform: translateY(20px);
}
.tab_block img {
  width: 350px;
  height: 600px;
  object-fit: cover;
  object-position: top;
  transition: 1s;
}
.tab_block img:hover {
  object-position: bottom;
  transition: 1s;
}
.tab_block div {
  padding: 20px 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;

  color: var(--text-white);
}



@media (max-width: 1254px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
 
  }
}